<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#"> Project manager </a>
        </li>
        <li>
          <a href="#"> Blog </a>
        </li>
        <li>
          <a href="#"> Licenses </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{ test | date : "yyyy" }}, made with
      <i class="fa fa-heart heart"></i> by
      <a href="#">Duong</a>
    </div>
  </div>
</footer>
